.completelist-component {
  display: flex;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    
    "completelist completelist completelist completelist completelist completelist completelist"
    "completelist completelist completelist completelist completelist completelist completelist"
    "completelist completelist completelist completelist completelist completelist completelist"
    "completelist completelist completelist completelist completelist completelist completelist"
    "completelist completelist completelist completelist completelist completelist completelist"
    "completelist completelist completelist completelist completelist completelist completelist"
    "completelist completelist completelist completelist completelist completelist completelist";
}

.back { grid-area: back; }

.completelist { grid-area: completelist; }
