.Completelist{
  display: flex; /* Hidden by default */
  align-items: center;
  flex-direction: column;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
 
  background-color: white; /* Fallback color */
  overflow: auto
}
