.App {
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "input input input input input input input"
    "list list list list list list list"
    "list list list list list list list"
    "list list list list list list list"
    "list list list list list list list"
    "list list list list list list list"
    "list list list list list list list"
    "button button button button button button button";
}

.input {
  grid-area: input;
 

}

.button {
  grid-area: button;
  display:flex;
  justify-content: center;
}

.list {
  grid-area: list;
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: space-between;
  overflow-y: scroll
}
